.entity-display-widget {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  user-select: none;
  * {
    user-select: none;
  }

  & > .entity-group,
  & > .entity-link,
  & > .entity-image,
  & > .entity-text {
    background: $white;
    border: 1px solid $white;
    border-radius: $border-radius-smooth;
    padding: 1rem;
    color: $black;
  }

  & > .entity-group {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      border-color: $dark-primary;
    }

    & > .arrow {
      color: $primary;
      transition: 0.25s all linear;
      width: 1rem;
      height: 1rem;
    }
    & > .name {
      margin-left: 1rem;
    }
  }

  & > .entity-link {
    cursor: pointer;
    color: $primary !important;
    text-decoration: none !important;
    & > .icon {
      width: 1rem;
      height: 1rem;
    }
    & > .name {
      margin-left: 1rem;
    }
    &:hover {
      color: $dark-primary !important;
      border-color: $dark-primary;
    }
  }

  & > .entity-image {
    display: flex;
    & > img {
      border-radius: $border-radius-smooth;
      width: 100%;
    }
  }

  & > .children {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.25s all linear;
    opacity: 1;

    &[hidden] {
      height: 0;
      opacity: 0;
    }
  }
}
