.entity-display-widget {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  user-select: none;
  * {
    user-select: none;
  }

  & > .entity-group,
  & > .entity-link {
    background: $white;
    border: 1px solid $white;
    border-radius: $border-radius-smooth;
    padding: 1rem;
    &:hover {
      border-color: $dark-primary;
    }
  }

  & > .entity-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    cursor: pointer;

    & > .arrow {
      color: $primary;
      transition: 0.25s all linear;

      &:hover {
        border-color: $dark-primary;
      }
    }
  }

  & > .entity-link {
    cursor: pointer;
    color: $primary !important;
    text-decoration: none !important;
    &:hover {
      color: $dark-primary !important;
    }
  }

  & > .children {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.25s all linear;
    opacity: 1;

    &[hidden] {
      height: 0;
      opacity: 0;
    }
  }
}
