.landing-edit-container {
  height: 100%;
  padding: 1rem;

  & > .block {
    &.topbar {
      margin-top: 3rem;
      justify-content: space-between;
    }
    &.edit {
      margin-top: 1rem;
      justify-content: space-between;
      $choose-background-button-size: 110px;
      & > .input-wrapper {
        margin-right: 1rem;
        width: calc(100% - #{$choose-background-button-size} - 1rem);
      }
      & > .button {
        width: $choose-background-button-size !important;
      }
    }
  }

  .links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .block {
      width: 100%;
      flex-direction: column;
      transition: 0.25s all linear;
      &.create {
        justify-content: space-between;
        border: 1px solid $white !important;
        * {
          transition: 0.25s all linear;
        }
        & > .header {
          margin-bottom: 1rem !important;
        }
        & > .icon {
          color: $light-gray;
          font-size: 4rem;
        }
        &:hover {
          border: 1px solid $primary !important;
          & > .icon {
            color: $primary;
          }
        }
      }
    }

    .draggable-list {
      & > .block {
        position: relative;
      }
    }
  }
}

#chooseBackground {
  .body {
    & > .button {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &[disabled] {
        & > .icon {
          color: $white !important;
        }
      }

      & > .icon {
        color: transparent !important;
      }

      & > .display {
        width: 2rem;
        height: 2rem;
        border: 1px solid white;
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .button:last-child {
      margin-left: 1rem;
    }
  }
}
