.block {
  background: $white;
  border-radius: $border-radius-smooth;
  padding: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  &.column {
    flex-direction: column;
  }
}
