button.button {
  background: $primary;
  color: $white;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid $primary;
  border-radius: $border-radius;
  transition: 0.25s all linear;
  text-decoration: none;

  &:hover {
    border: 1px solid $dark-primary;
    background: $dark-primary;
  }

  &:active {
    border: 1px solid $darker-primary;
    background: $darker-primary;
  }

  * {
    color: $white;
  }

  &:disabled {
    opacity: 0.75;
    pointer-events: none;
  }

  &.danger {
    background-color: $red;
    border-color: $red;
    &:hover {
      background-color: $dark-red;
      border-color: $dark-red;
    }
  }

  &.white {
    background: $white;
    color: $primary;
    &:hover {
      background: $primary;
      color: $white;
    }
    &:active {
      background: $darker-primary;
    }
  }
}
