a.button,
button.button {
  background: $primary;
  color: $white;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid $primary;
  border-radius: $border-radius;
  transition: 0.25s all linear;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.smooth {
    border-radius: $border-radius-smooth !important;
  }

  &:hover {
    color: $white;
    border: 1px solid $dark-primary;
    background: $dark-primary;
  }

  &:active {
    border: 1px solid $darker-primary;
    background: $darker-primary;
  }

  * {
    color: $white;
  }

  &:disabled {
    opacity: 0.75;
    pointer-events: none;
  }

  &.danger {
    background-color: $red;
    border-color: $red;
    &:hover {
      background-color: $dark-red;
      border-color: $dark-red;
    }
  }

  &.secondary {
    background: $white;
    color: $gray !important;
    * {
      color: $gray;
    }
    border-color: $white;
    &:hover {
      border-color: $primary;
      color: $primary;
      * {
        color: $primary;
      }
    }
    &:active {
      border-color: $darker-primary;
    }
  }

  &.white {
    background: $white;
    color: $primary;
    * {
      color: $primary;
    }
    border-color: $white;
    &:hover {
      border-color: $primary;
      background: $primary;
      color: $white;
      * {
        color: $white;
      }
    }
    &:active {
      border-color: $darker-primary;
      background: $darker-primary;
    }
  }
}
