.user-settings {
  .main-settings {
    display: flex;
    width: 100%;
    & > .image-upload {
      width: 200px;
      min-width: 200px;
      height: 200px;
      min-height: 200px;
    }
    & > .info-inputs {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      width: 100%;
    }
  }

  .payment-settings {
    margin-top: 1rem;
    width: 100%;
    & > .paid-services {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
