html {
  font-size: $rem !important;
  min-height: 100vh;
  height: 100%;
  body {
    min-height: 100vh;
    height: 100%;
  }
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  min-height: 100vh;
  height: 100%;
  background: $light-gray;
  transition: 0.125s linear filter;

  & > .main {
    display: flex;
    flex: 1;
  }
}

.mw.show + #app {
  filter: blur(1px);
}

.no-pointer-events {
  pointer-events: none !important;
  * {
    pointer-events: none !important;
  }
}
