.auth-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  user-select: none;

  & > .auth-wrapper {
    margin: auto;
    width: 100%;
    max-width: 345px;
    & > .block {
      padding: 3rem;

      &.login {
        & > .caption {
          margin-bottom: 1rem !important;
          text-align: center;
        }
        & > .social-auth {
          margin-bottom: 1rem;
          & > .social-network {
            margin: 0 0.5rem;
            & > .logo {
              width: 3rem;
              height: 3rem;
            }
          }
        }
        & > .links {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
