header.topbar {
  background: $black;
  & > .container {
    padding: 1rem;
    display: flex;
    align-items: center;

    .brand {
      color: $white;
    }

    & > .dropdown-menu-wrapper {
      & > .button {
        border-radius: 0;
        background: transparent;
        border: none;
      }
      &:hover {
        & > .button {
          background: $primary;
        }
      }
    }
  }
}
